<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5D8VlR8I3yZKFZgH1G0FGNtKNgbHOLgA</string>
	<key>GCM_SENDER_ID</key>
	<string>375408022123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.neighbourgo.app</string>
	<key>PROJECT_ID</key>
	<string>neighbourgo-sg</string>
	<key>STORAGE_BUCKET</key>
	<string>neighbourgo-sg.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375408022123:ios:2c458463b51651fc06572e</string>
</dict>
</plist>